@{
    ViewData["Title"] = "Home Page";
}
<style>

    .border-shadow {
        border: 1px solid;
        padding: 0px;
        box-shadow: 5px 4px 5px 0px
    }
    .main-div{
        border: 1px solid #dcc2c282;
        padding: 10px;
        border-radius: 5px;
        background: snow;
    }
</style>
<div class="main-div">
    @* -------------NOTICE PART----------------------- *@
    <span class="badge rounded-pill bg-dark mb-2">Notice</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">1</th>
                <td class="text-start p-3 fw-bold">Festival Holidays 2025</td>
                <td class="text-end"><a target="_blank" href="~/assets/notice/festival_2025.pdf"><img class="me-2" style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">2</th>
                <td class="text-start p-3 fw-bold">PKD_IP_Phone_Index</td>
                <td class="text-end"><a target="_blank" href="~/assets/files/PKD_IP_Phone_Index.pdf"><img class="me-2" style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
   
    
    @* -------------FILES PART----------------------- *@
    <span class="badge rounded-pill bg-dark mb-2">Files</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">1</th>
                <td class="text-start p-3 fw-bold">AD User request FORM_ICT</td>
                <td class="text-end"><a target="_blank" href="~/assets/files/AD User request FORM_ICT.pdf"><img class="me-2" style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">2</th>
                <td class="text-start p-3 fw-bold">Asset Consultation for Fixed Assets Purchase_ICT</td>
                <td class="text-end"><a target="_blank" href="~/assets/files/Asset Consultation for Fixed Assets Purchase_ICT.pdf"><img class="me-2" style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">3</th>
                <td class="text-start p-3 fw-bold">Asset Transfer Form_ICT</td>
                <td class="text-end"><a target="_blank" href="~/assets/files/Asset Transfer Form_ICT.pdf"><img class="me-2" style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
</div>
