@{
    ViewData["Title"] = "Home Page";
}
<style>

    .border-shadow {
        border: 1px solid;
        padding: 0px;
        box-shadow: 5px 4px 5px 0px
    }
    .main-div{
        border: 1px solid #dcc2c282;
        padding: 10px;
        border-radius: 5px;
        background: snow;
    }
</style>
<div class="main-div">
    <span class="badge rounded-pill bg-dark mb-2">Notice</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th scope="row" class="p-3">1</th>
                <td class="text-start p-3 fw-bold">Festival Holidays 2025</td>
                <td class="text-end"><a target="_blank" href="~/files/festival_2025.pdf"><img style="height: 45px;" src="~/assets/logo/pdfAdobe-preview.png"></img></a></td>
            </tr>
        </tbody>
    </table>
    <span class="badge rounded-pill bg-dark mb-2">Files</span>
    <p>No Files Available</p>
</div>
