@{
    ViewData["Title"] = "";
}
<style>

    .border-shadow {
        border: 1px solid;
        padding: 0px;
        box-shadow: 5px 4px 5px 0px
    }
    .main-div{
        border: 1px solid #dcc2c282;
        padding: 10px;
        border-radius: 5px;
        background: snow;
    }
</style>
<div class="main-div">
    @* -------------NOTICE PART----------------------- *@
    <span class="badge rounded-pill bg-dark mb-2">Notice</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">1</th>
                <td class="text-start p-3 fw-bold">Festival Holidays 2025</td>

                <td class="text-end">
                    <a href="~/assets/notice/festival_2025.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/notice/festival_2025.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                
                </td>
            </tr>
        </tbody>
    </table>

    <span class="badge rounded-pill bg-dark mb-2">Info</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">1</th>
                <td class="text-start p-3 fw-bold">IP Phone Index</td>

                <td class="text-end">
                    <a href="~/assets/info/PKD_IP_Phone_Index.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/info/PKD_IP_Phone_Index.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">2</th>
                <td class="text-start p-3 fw-bold">Mail Address Index</td>



                <td class="text-end">
                    <a href="~/assets/Info/PKD_Mail_List.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/Info/PKD_Mail_List.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
   
    
    @* -------------FILES PART----------------------- *@
    @* added code in 13-apr-2025 *@
    <span class="badge rounded-pill bg-dark mb-2">Files</span>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">1</th>
                <td class="text-start p-3 fw-bold">Leave Form(Management - PKL) HRD</td>

                <td class="text-end">
                    <a href="~/assets/files/Management leave form.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/files/Management leave form.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">2</th>
                <td class="text-start p-3 fw-bold">Manpower Requisition Form(Staff/Worker) HRD</td>


                <td class="text-end">
                    <a href="~/assets/files/Manpower requisition format for Staff_Worker.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/files/Manpower requisition format for Staff_Worker.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>


    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">3</th>
                <td class="text-start p-3 fw-bold">AD/Mail User Request Form ICT</td>

                <td class="text-end">
                    <a href="~/assets/files/AD User request FORM_ICT.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/files/AD User request FORM_ICT.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">4</th>
                <td class="text-start p-3 fw-bold">Asset Consultation For Fixed Asset Purchase ICT</td>

                <td class="text-end">
                    <a href="~/assets/files/Asset Consultation for Fixed Assets Purchase_ICT.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/files/Asset Consultation for Fixed Assets Purchase_ICT.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-borderless table-sm mb-2">
        <tbody class="border-shadow">
            <tr>
                <th class="p-3" style="width: 5%;">5</th>
                <td class="text-start p-3 fw-bold">Asset Transfer Form ICT</td>

                <td class="text-end">
                    <a href="~/assets/files/Asset Transfer Form_ICT.pdf" download class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-cloud-arrow-down"></i> Download</a>

                    <a target="_blank" href="~/assets/files/Asset Transfer Form_ICT.pdf" class="btn text-white mt-2" style="background-color:#061640;font-size: 12px;"><i class="bi bi-eye"></i> View</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
