@model IEnumerable<PacificKnitDivisionWebPortal.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<div class="main-div">

    <h1 class="text-center">Department List</h1>

    <p>
        <a class="btn btn-primary" asp-action="Upsert">Create New</a>
    </p>



    <!-- Button trigger modal -->
    <i class="bi bi-file-earmark-excel-fill fs-5" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Import" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".xlsx,.xls" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Import</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
