@model PacificKnitDivisionWebPortal.Models.Department

@{
    ViewData["Title"] = "Create";
}
<div class="main-div">
    @if (Model.Id != 0)
    {
        <h1 class="text-center">Update Department</h1>
    }
    else
    {
        <h1 class="text-center">Create a Department</h1>
    }
    <hr />
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-md-4">
            <form asp-action="Upsert">
                <input asp-for="Id" hidden />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group fw-bold mb-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    <label asp-for="UnitId" class="control-label"></label> <br />
                    <select asp-for="UnitId" asp-items="ViewBag.UnitList" id="Unit">
                        <option selected disabled>--Select Unit--</option>
                    </select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    <label class="control-label">Display No.</label> <br />
                    <select asp-for="ShowFlag">
                        <option selected value="0">Default</option>
                        <option value="1">Show Before</option>
                        <option value="2">Show After</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
             @*    <div class="form-group fw-bold mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="ShowFlag" value="0" id="showFlag0" />
                        <label class="form-check-label" for="showFlag0">
                            Default
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="ShowFlag" value="1" id="showFlag1" />
                        <label class="form-check-label" for="showFlag1">
                            Show Before
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="ShowFlag" value="2" id="showFlag2" />
                        <label class="form-check-label" for="showFlag2">
                            Show After
                        </label>
                    </div>

                </div> *@
                <div class="form-group fw-bold mb-2">
                    <label class="control-label">Department</label> <br />
                    <select id="Dept">
                        <option selected disabled>--Select Department--</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2 d-none">
                    <label asp-for="DisplayNo" class="control-label"></label>
                    <input asp-for="DisplayNo" class="form-control" id="DisplayNo" />
                    <span asp-validation-for="DisplayNo" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    @if (Model.Id != 0)
                    {
                        <button id="btn-submit" type="submit" value="Create" class="btn btn-success">Update</button>
                    }
                    else
                    {

                        <button id="btn-submit" type="submit" value="Create" class="btn btn-primary">Create</button>
                    }
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var ShowFlag;
                $("#flexRadioDefault1")
        .change(function(){
            if( $(this).is(":checked") )
            {
                var val = $(this).val();
                    ShowFlag=val;
            }
        });
                $("#flexRadioDefault2")
        .change(function(){
            if( $(this).is(":checked") )
            {
                    var val = $(this).val();
                        ShowFlag=val;
            }
        });


                            //alert(ShowFlag);
        $("#Unit").on("change", function () {
                        var value = $(this).val();
                            //alert(value);
                        $.ajax({
                            url: '/Admin/Department/GetDepartmentByUnit',
                            method: 'GET',
                            dataType: 'json',
                            data: { UnitId: value },
                            success: function (response) {
                                //console.log("response", response);

                                var $dept = $('#Dept');
                                $dept.empty();
                                $dept.append($('<option>', {
                                    value: '',
                                    text: '-- Select Department --'
                                }));

                                if (response.data && response.data.length > 0) {
                                    $.each(response.data, function (i, dept) {
                                        $dept.append($('<option>', {
                                            value: dept.id,
                                            text: dept.name
                                        }));
                                    });
                                } else {
                                    console.log("No data found.");
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error("An error occurred: " + error);
                            }
                        });
                   
                    
                         $.ajax({
                                url: '/Admin/Department/GetDisplayOrderByUnit',
                        method: 'GET',
                            dataType: 'json',
                                data: { UnitId: value},
                            success: function (response) {
                                if (response.data) {
                                    console.log(response.data);
                                 $("#DisplayNo").val(response.data);


                        }
                        else {
                                console.log("No data found.");
                                $("#DisplayNo").val(1);
                        }
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });
                    
                    
                    
                    });

                    var Unit = $("#Dept").on("change",function(){
                    var value = $(this).val();
                    // alert(value);
                    $.ajax({
                        url: '/Admin/Department/GetDisplayNo',
                    method: 'GET',
                        dataType: 'json',
                        data: { Id: value},
                        success: function (response) {
                            if (response.data) {
                                console.log(response.data);
                             $("#DisplayNo").val(response.data);


                    }
                    else {
                            console.log("No data found.");
                            $("#DisplayNo").val(1);
                    }
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + error);
            }
        });
    });
    </script>
}
