@model PacificKnitDivisionWebPortal.Models.Department

@{
    ViewData["Title"] = "Create";
}
<div class="main-div">
    @if (Model.Id != 0)
    {
        <h1 class="text-center">Update Department</h1>
    }
    else
    {
        <h1 class="text-center">Create a Department</h1>
    }
    <hr />
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-md-4">
            <form asp-action="Upsert">
                <input asp-for="Id" hidden />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group fw-bold mb-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    <label asp-for="UnitId" class="control-label"></label> <br />
                    <select asp-for="UnitId" asp-items="ViewBag.UnitList" id="Unit">
                        <option selected disabled>--Select Unit--</option>
                    </select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    <div class="form-check">
                        <input class="form-check-input" value="0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Show Before
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" value="1" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Show After
                        </label>
                    </div>
                </div>
                <div class="form-group fw-bold mb-2">
                    <label class="control-label">Department</label> <br />
                    <select id="Dept">
                        <option selected disabled>--Select Department--</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    <label asp-for="DisplayNo" class="control-label"></label>
                    <input asp-for="DisplayNo" class="form-control" id="DisplayNo"  />
                    <span asp-validation-for="DisplayNo" class="text-danger"></span>
                </div>
                <div class="form-group fw-bold mb-2">
                    @if (Model.Id != 0)
                    {
                        <button id="btn-submit" type="submit" value="Create" class="btn btn-success">Update</button>
                    }
                    else
                    {

                        <button id="btn-submit" type="submit" value="Create" class="btn btn-primary">Create</button>
                    }
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var ShowFlag;
                $("#flexRadioDefault1")
        .change(function(){
            if( $(this).is(":checked") )
            {
                var val = $(this).val();
                    ShowFlag=val;
            }
        });
                $("#flexRadioDefault2")
        .change(function(){
            if( $(this).is(":checked") )
            {
                    var val = $(this).val();
                        ShowFlag=val;
            }
        });


                            //alert(ShowFlag);





                $("#Unit").on("change", function () {
                var value = $(this).val();

                $.ajax({
                    url: '/Admin/IPPhoneDetails/GetDepartmentByUnit',
                    method: 'GET',
                    dataType: 'json',
                    data: { UnitId: value },
                    success: function (response) {
                        //console.log("response", response);

                        var $dept = $('#Dept');
                        $dept.empty();
                        $dept.append($('<option>', {
                            value: '',
                            text: '-- Select Department --'
                        }));

                        if (response.data && response.data.length > 0) {
                            $.each(response.data, function (i, dept) {
                                $dept.append($('<option>', {
                                    value: dept.id,
                                    text: dept.name
                                }));
                            });
                        } else {
                            console.log("No data found.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("An error occurred: " + error);
                    }
                });
            });

                    var Unit = $("#Dept").on("change",function(){
                    var value = $(this).val();
                    // alert(value);
                    $.ajax({
                        url: '/Admin/Department/GetDisplayNo',
                    method: 'GET',
                        dataType: 'json',
                                        data: { Id: value},
                        success: function (response) {
                            if (response.data) {
                                //console.log(response.data);
                                    if(ShowFlag==0){

                                       $("#DisplayNo").val(response.data-1);
                                    }
                                    else if(ShowFlag==1){

                                       $("#DisplayNo").val(response.data+1);
                                    }


                    }
                    else {
                            console.log("No data found.");
                            $("#DisplayNo").val(1);
                    }
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + error);
            }
        });
    });


     // function myFunction(){
     //    $("#btn-submit").on("click",function(){
     //                        event.preventDefault();
     //                    alert("asas");
     //                //==================== Update selected department display order
     //                var DisplayNo;
     //                var previousDisplayNo = parseInt($("#DisplayNo").val());

     //                if (ShowFlag == 0) {
     //                    DisplayNo = previousDisplayNo + 1;
     //                } else if (ShowFlag == 1) {
     //                    DisplayNo = previousDisplayNo - 1;
     //                }

     //                $.ajax({
     //                    url: '/Admin/Department/UpdateSelectedDeptDOrder',
     //                    method: 'POST',
     //                    dataType: 'json',
     //                    data: {
     //                        DeptId: value,
     //                        DisplayNo: DisplayNo
     //                    },
     //                    success: function (response) {
     //                        if (response.data) {
     //                            // Optionally update DisplayNo field if needed:
     //                            // $("#DisplayNo").val(response.data);
     //                        } else {
     //                            console.log("No data found.");
     //                            $("#DisplayNo").val(1);
     //                        }
     //                    },
     //                    error: function (xhr, status, error) {
     //                        console.error("An error occurred: " + error);
     //                    }
     //                });

     //                });
     // };
    // $(document).ready(function(){
            
    // });
    </script>
}
