@model IEnumerable<PacificKnitDivisionWebPortal.Models.Department>

@{
    ViewData["Title"] = "Index";
}
<div class="main-div">

    <h2 class="text-center">Designation</h2>
    <div class="row">
        <div class="col-lg-6">
            <p>
                <a class="btn" style="border: 1px solid #00000047;" asp-action="Upsert"><i class="bi bi-plus-square me-1"></i>Create New</a>
            </p>
        </div>
        <div class="col-lg-6">
            <div class="float-end">
                <div class="input-group" style="max-width: 400px;">
                    <input id="SearchText" type="text" class="form-control" placeholder="Search..." aria-label="Search">
                    <button id="Search" class="btn border" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    

    <div id="designation-table"></div>

</div>


@section Scripts {
    <script type="text/javascript">
                 //first load data=======================================
             $.ajax({
                url: '/Admin/Designantion/GetAllDepartment',
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log("response",response.data);
                    if(response.unit){
                        $.each(response.unit, function (i, unit) {
                            $('#unit').append($('<option>', {
                                value: unit.id,
                                text: unit.name
                            }));
                        });
                    }
                    if (response.data) {
                        //console.log(response.data.result);
                        //Build Tabulator
                            table = new Tabulator("#designation-table", {
                            height: "450px",
                            data: response.data,
                            layout: "fitColumns",
                            placeholder: "No Data Set",
                            pagination: "local",
                            paginationSize: 20,
                            paginationSizeSelector: [5, 10, 15, 20,25,30,35],
                            movableColumns: true,
                            paginationCounter: "rows",
                            columns: [
                                { title: "Designation Name", field: "name", sorter: "string"},
                                {
                                    title: "Actions", field: "", sorter: "string", formatter: function (cell, formatterParams, onRendered) {
                                        var id = cell.getRow().getData().id;
                                        return `<a href='/Admin/Designation/Upsert/${id}' class='btn btn-sm btn-success'><i class="bi bi-pen-fill"></i></a> <a class='btn btn-sm btn-danger delete-button' data-id='${id}'><i class="bi bi-trash-fill"></i></a>

                                        `;
                                    }
                                }
                            ],
                        });
                    }
                    else {
                        console.log("No data found.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });


            //delete functionalities==================================
            $(document).on('click', '.delete-button', function (e) {
                e.preventDefault();

                 var id = $(this).data('id');

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Admin/Designation/Delete/' + id,
                            type: 'POST',
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire(
                                        'Deleted!',
                                        response.message,
                                        'success'
                                    ).then(() => {
                                        location.reload();
                                    });
                                }
                                else {
                                    Swal.fire(
                                        'Failed!',
                                        response.message || 'Cannot Remove Designation!',
                                        'error'
                                    );
                                }
                            },
                            error: function () {
                                Swal.fire(
                                    'Error!',
                                    'An error occurred while deleting.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            });


            $("#Search").on("click", function () {
            var value = $("#SearchText").val();
            //alert("asas");
            //console.log(value);
            var Unit = $("#unit option:selected").val();
                $.ajax({
                url: '/Admin/Designation/GetAllSearch?value='+value+'&unit='+Unit,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.data) {
                        console.log(response.data.result);
                        //Build Tabulator
                            table = new Tabulator("#designation-table", {
                            height: "450px",
                            data: response.data.result,
                            layout: "fitColumns",
                            placeholder: "No Data Set",
                            pagination: "local",
                            paginationSize: 20,
                            paginationSizeSelector: [5, 10, 15, 20,25,30,35],
                            movableColumns: true,
                            paginationCounter: "rows",
                            columns: [
                                { title: "Designation Name", field: "name", sorter: "string"},
                                {
                                    title: "Actions", field: "", sorter: "string", formatter: function (cell, formatterParams, onRendered) {
                                        var id = cell.getRow().getData().id;
                                        return `<a href='/Admin/Designation/Upsert/${id}' class='btn btn-sm btn-success'><i class="bi bi-pen-fill"></i></a> <a class='btn btn-sm btn-danger delete-button' data-id='${id}'><i class="bi bi-trash-fill"></i></a>

                                        `;
                                    }
                                }
                            ],
                        });
                    }
                    else {
                        console.log("No data found.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });
        });


        var input = document.getElementById("SearchText");
               input.addEventListener("keypress", function(event) {
                   if (event.key === "Enter")
                   {
                       //alert("sas");
                       var value = $("#SearchText").val();
                $.ajax({
                url: '/Admin/Department/GetAllSearch?value='+value,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.data) {
                        console.log(response.data.result);
                        //Build Tabulator
                            table = new Tabulator("#designation-table", {
                            height: "450px",
                            data: response.data.result,
                            layout: "fitColumns",
                            placeholder: "No Data Set",
                            pagination: "local",
                            paginationSize: 20,
                            paginationSizeSelector: [5, 10, 15, 20,25,30,35],
                            movableColumns: true,
                            paginationCounter: "rows",
                            columns: [
                                { title: "Designation Name", field: "name", sorter: "string"},
                                {
                                    title: "Actions", field: "", sorter: "string", formatter: function (cell, formatterParams, onRendered) {
                                        var id = cell.getRow().getData().id;
                                        return `<a href='/Admin/Designation/Upsert/${id}' class='btn btn-sm btn-success'><i class="bi bi-pen-fill"></i></a> <a class='btn btn-sm btn-danger delete-button' data-id='${id}'><i class="bi bi-trash-fill"></i></a>

                                        `;
                                    }
                                }
                            ],
                        });
                    }
                    else {
                        console.log("No data found.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + error);
                }
            });
                   }
                
        });
             
</script>
}